{% extends "base.html" %}
{% block title %}My Playlist{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>My Playlist</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function confirmDelete(event) {
            if (!confirm("Do you want to delete this movie from the playlist?")) {
                event.preventDefault();
            }
        }
    </script>
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{{ url_for('views.home') }}">WHAT2WATCH</a>
        </div>
    </nav>

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">{{ page_name }}</h1>
                <p class="lead fw-normal text-white-50 mb-0">Your favorite movies in one place</p>
            </div>
        </div>
    </header>
    
    <!-- Section-->
    <section class="py-5">
        <div class="container px-1 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                {% for movie in movie_list  %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Movie image-->
                        {% if movie['poster'] and movie['poster'] != 'N/A' %}
                        <img class="card-img-top" src="{{ movie['poster'] }}" alt="Movie Poster" />
                        {% else %}
                        <div class="card-img-top" style="background-color: #f8f9fa; height: 300px; display: flex; justify-content: center; align-items: center;">
                            Poster Not Available
                        </div>
                        {% endif %}
                        <!-- Movie details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Movie title-->
                                <h5 class="fw-bolder">{{ movie['title'] }}</h5>
                                <!-- Product price-->
                                {{ movie['Type'] }} || {{ movie['Year'] }}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="https://www.imdb.com/title/{{movie['imdbID']}}/">More Details</a>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form action="{{ url_for('views.delete_movie') }}" method="post" style="display:inline;" onsubmit="confirmDelete(event)">
                                    <input type="hidden" name="movie_title" value="{{ movie['title'] }}">
                                    <button type="submit" class="btn btn-outline-danger mt-auto">Remove from List</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <!-- <script src="js/scripts.js"></script> -->
</body>
</html>

{% endblock %}